extends ../layout.pug

block content
    .card-header Fitness
    .card-body
        .row
            h3 Recent Workouts
            table.table
                thead
                    tr
                        th Date
                        th Total Weight Lifted
                tbody
                    tr
                        td 1/08/19
                        td 17,000
            