extends ../layout.pug

block content
    .card-header Music
    .card-body
        .row
            .col-2.col-xl-4
            .col-8.col-xl-4.py-2.bg-secondary
                .row
                    .col-4
                        img.thumbnail(src="https://i.scdn.co/image/db33caf8620ad34be3e8cfaaf984c13e625d7ecb")
                    .col-8
                        .row
                            h4 Forest of Faith
                        .row
                            h6 Matisyahu
                .row.mb-4
                .row
                    .col-4.text-center
                        button.btn.btn-secondary
                            i.fas.fa-backward
                    .col-4.text-center
                        button.btn.btn-secondary
                            i.fas.fa-play
                    .col-4.text-center
                        button.btn.btn-secondary
                            i.fas.fa-forward
            .col-2.col-xl-4

                                