extends ../layout.pug

block content
    .card-header 
        span Settings
        span.badge.badge-danger.float-right BETA
    .card-body.p-4
        .col-12
            h2 General
            form.pl-4
                .form-check.form-check-inline
                    input.form-check-input(type="checkbox" id="checkbox")
                    label.form-check-label(for="checkbox") Label
        .col-12
            a.btn.btn-success.float-right Save Changes

                                