extends ../layout.pug

block content
    .card-header Games
    .card-body
        form.col-12.mb-4(action="")
            .input-group
                input.form-control(placeholder="Search...")
                .input-group-append
                    .input-group-text.bg-light
                            span.fas.fa-search
        .row
            for game in games
                .card.p-0.col-4.mb-4
                    img.card-img-top(src="http://cdn.akamai.steamstatic.com/steam/apps/" + game.appid + "/header.jpg")
                    .card-body
                        .card-title=game.name
                        .card-text
                            a.btn.btn-primary.float-right.col-12(href="/games/play/" + game.appid) Play

                                