extends ../layout.pug

block content
    .row.mt-4
        .col-12
            .card
                .card-header Settings
                .card-body.p-4
                    .row.pb-4
                        .col-3
                        .col-6
                            .row.col-12
                                h6.pb-2 Appearance
                            .row.col-12
                                .list-group.col-12
                                    .list-group-item
                                        h6 Themes
                                    .list-group-item
                                        .form-check.form-check-inline
                                            span.form-check-label(for="themCheck") Themes
                                            input.form-check-input(type="checkbox" value="" id="themeCheck")
                        .col-3
                    .row.pb-4
                        .col-3
                        .col-6
                            .row.col-12
                                h6.pb-2 Appearance
                            .row.col-12
                                .list-group.col-12
                                    .list-group-item
                                        h6 Themes
                                    .list-group-item
                                        h6 Themes
                        .col-3
                    .row
                        .col-3
                        .col-6
                            a.btn.btn-success.float-right Save Changes
                        .col-3

                                