extends ./layout.pug

block content
            .card-header
                span Documentation
                span.badge.badge-danger.float-right BETA
            .card-body
                .card-columns
                    .card.mb-4
                        .card-header Tasks
                        .card-body
                            h6.text-success /tasks
                            p List all classes
                            h6.text-success /tasks/create/?
                                br
                                span.text-warning name = The name of the task
                                br
                                span.text-warning class = The class the task is for
                                br
                                span.text-warning due_date= The date the task is due by
                            p Creates a task based off of given params
                            h6.text-success.pt-4 /tasks/delete/
                                code :id
                            p
                                code :id = 
                                span The ID of the task to delete
                            p Deletes a task
                            h6.text-success.pt-4 /tasks/complete/
                                code :id
                            p
                                code :id = 
                                span The ID of the task to complete
                    .card.mb-4
                        .card-header Classes
                        .card-body
                            h6.text-success /classes/?json=1
                            p List all classes
                            h6.text-success /classes/create
                            p Create a new class
                            h6.text-success /classes/delete/
                                code :id
                            p Delete a class
                    .card.mb-4
                        .card-header Events
                        .card-body
                            h6.text-success /events
                            p List all events
                            h6.text-success /events/create
                            p Create a new event
                            h6.text-success /events/delete/
                                code :id
                            p Delete an event
                    .card.mb-4
                        .card-header Notes
                        .card-body
                            h6.text-success /notes
                            p List all classes
                            h6.text-success /notes/create
                            p Create a new class
                            h6.text-success /delete/
                                code :id
                            p Delete a class
                    .card.mb-4
                        .card-header Games
                        .card-body
                            h6.text-success /games
                            p List all classes
                    .card.mb-4
                        .card-header Workouts
                        .card-body
                            h6.text-success /gym
                            p List all workouts
                    .card.mb-4
                        .card-header Contacts
                        .card-body
                            h6.text-success /contacts
                            p List all workouts
                            h6.text-success /gym/create
                            p Create a new workout
                            h6.text-success /gym/delete/
                                code :id
                            p Delete a workout
                    .card.mb-4
                        .card-header Private
                        .card-body
                            h6.text-success /private
                            p List all videos both local and online
                    .card.mb-4
                        .card-header Stocks
                        .card-body
                            h6.text-success /stocks
                            p.text-danger Not Implemented
                    .card.mb-4
                        .card-header Settings
                        .card-body
                            h6.text-success /settings
                            p.text-danger Not Implemented