<!DOCTYPE html>
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css")
        link(rel="stylesheet" href="/css/all.css")
        link(rel="stylesheet" href="/style.css")

        link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
    title
    body
        .row.bg-light.fixed-top.mb-4
            .col-11(style="-webkit-app-region: drag")
                span.ml-2 Karen
            .col-1.float-right
                .btn-group.btn-group-sm.float-right
                    button.btn.float-right(id="min-btn")
                        span.fas.fa-window-minimize
                    button.btn.float-right(id="max-btn")
                        span.fas.fa-window-maximize
                    button.btn.float-right(id="close-btn")
                        span.fas.fa-window-close
        .row.sticky-top.mb-0
            .col-12
                nav.navbar.mt-4.bg-light
                    button.text-white.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar")
                        span.fas.fa-bars
                .collapse.navbar-collapse.bg-secondary.pl-4.col-12(id="navbar")
                    .row.text-center
                        ul.navbar-nav.col-12.col-md-4.my-2 School
                            li.nav-item.ml-2
                                a.nav-link(href="/task") Tasks
                            li.nav-item.ml-2
                                a.nav-link(href="/classes") Classes
                            li.nav-item.ml-2
                                a.nav-link(href="/notes") Notes
                        ul.navbar-nav.col-12.col-md-4.my-2 Personal
                            li.nav-item.ml-2
                                a.nav-link(href="/games") Games
                            li.nav-item.ml-2
                                a.nav-link(href="/fitness") Fitness
                            li.nav-item.ml-2
                                a.nav-link(href="/spotify") Music
                        ul.navbar-nav.col-12.col-md-4.my-2 Other
                            li.nav-item
                                a.nav-link.ml-2(href="/docs") Documentation
                            li.nav-item
                                a.nav-link.ml-2(href="/settings") Settings
        .row.mt-0
            .col-0.col-lg-2
            .col-12.col-lg-8
                .card.my-4
                    block content
                        
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
        script(src="/main.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")


