extends ./layout.pug

block content
    .row.mt-4
        .col-12
            .card.bg-light
                .card-header Notes
                .card-body
                    .card.mb-4
                        .card-header New Note
                        .card-body
                            .form
                                .form-row.mb-4
                                    .col-9
                                        input.form-control(type="text" name="title" placeholder="Title")
                                    .col-3
                                        select.custom-select(name="class")
                                            option(selected) Class
                                            each _class in classes
                                                option(value=_class.short_name)=_class.name
                                .form-row
                                    .col-12
                                        textarea.form-control(name="note" rows="25" placeholder="Type Here..")
                                .form-row.float-right
                                    .col-12
                                        button.btn.btn-primary.mt-2 Save
                    .card
                        .card-header Previous Notes
                        .card-body
