extends layout.pug

block content
    .row.mb-4
        h1.border-bottom.py-4.mb-4.mx-4 Overview
        .col-8
            .row
                .col-8
                    .card
                        .card-header Karen
                        .card-body
                            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            .list-group-flush.bg-dark
                            .input-group.mt-3
                                input.form-control(placeholder="Type Here")
                                .input-group-append
                                    button.btn.btn-primary Send


                .col-4
                    .card
                        .card-header Status
                        .card-body
        .col-4
            .card
                .card-header Tasks
                    span.fas.fa-user-secret.float-left
                    span.badge.badge-danger.float-right 5
                .card-body
                    ul.list-group
                        a.list-group-item.list-group-item-action.bg-primary(href="#") 
                            h5.ml-1 Homework 1
                        a.list-group-item.list-group-item-action.bg-primary(href="#") 
                            h5.ml-1 Homework 2
                        a.list-group-item.list-group-item-action.bg-primary(href="#") 
                            h5.ml-1 Homework 3
                        a.list-group-item.list-group-item-action.bg-primary(href="#") 
                            h5.ml-1 Homework 4
                        a.list-group-item.list-group-item-action.bg-primary(href="#") 
                            h5.ml-1 Homework 5
    .row.mb-4
        .col-6
            .card
                .card-header Twitter
                .card-body
                    ul.list-group
                        a.list-group-item.list-group-item-action(href="#") 
                            small.mr-2 Dylan Dunn
                            small.badge.badge-secondary.mb-2 @dhd5076
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam metus libero, mollis sit amet pellentesque quis, semper vitae augue. 
                        a.list-group-item.list-group-item-action(href="#") 
                            small.mr-2 Dylan Dunn
                            small.badge.badge-secondary.mb-2 @dhd5076
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam metus libero, mollis sit amet pellentesque quis, semper vitae augue.
                        a.list-group-item.list-group-item-action(href="#") 
                            small.mr-2 Dylan Dunn
                            small.badge.badge-secondary.mb-2 @dhd5076
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam metus libero, mollis sit amet pellentesque quis, semper vitae augue.
                        a.list-group-item.list-group-item-action(href="#") 
                            small.mr-2 Dylan Dunn
                            small.badge.badge-secondary.mb-2 @dhd5076
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam metus libero, mollis sit amet pellentesque quis, semper vitae augue.

        .col-6
            .card
                .card-header Youtube
                .card-body
    .row.mb-4
        .col-12
            .card
                .card-header Today's Schedule
                .card-body
                    table.table.table-striped
                        thead
                            tr
                                th Title
                                th Start Time
                                th End Time
                                th Time Until Start
                        tbody
                            tr
                                td Calculus 1
                                td 5:00pm
                                td 6:00pm
                                td 5 minutes
                            tr
                                td Math
                                td 6:15pm
                                td 7:15pm
                                td 4 hours
                            tr
                                td Intro To Philosophy
                                td 7:30pm
                                td 9:15pm
                                td 7 hours
                    
                        

                
