button(id="link-button") Add Bank Account
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
script(src="https://cdn.plaid.com/link/v2/stable/link-initialize.js")
script(src="/js/plaidScript.js")